::selection{
  background: #b5b8bd;
  color: #0c151e;
}

*{
  font-family: 'Ubuntu', Sans-Serif;
  box-sizing: border-box;
 
}

li{
  list-style-type: square;
}

a{
  color: #b5b8bd;
}
a:hover, .active{
  color: #b5b8bd;
}

body{
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: #0c151e;
  color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper{
  max-width: 600px;
  width: 100%;
  padding: 0 2rem ;
  font-size: .9rem;
}

.wrapper .logo{
  font-weight: 600;
  font-size: 1.2rem;
  padding: 20px 0;
}

.wrapper .bio{
  text-align: justify;
  padding-top: 20px;
}

.social-icon {
  padding: 5px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}



footer{
  max-width: 600px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  font-size: .8rem;
}

footer p {
  text-align: center;
}

.section{
  padding: 20px;
}

.avatar{
  width: 8rem;
  height: auto;
  border-radius: 0;
  border: 2px solid #47a1ec;
  padding: 10px;
}
